
<div class="row">
  <div class="medium-9 medium-centered columns center">

  <h3>Editing ambulance</h3>

  <%= render 'form' %>
 
  <%= link_to 'Show', @ambulance %> |
  <%= link_to 'Back', ambulances_path %> 
  
  </div>
</div>

