

<div class="row">
  <div class="medium-11 medium-centered columns center">

Update Ambulance Id 1 to cordinates 28.6143, 77.1998 (Rashtrapati Bhawan, New Delhi) with status "Free"
<a href="http://localhost:3000/update?id=1&latitude=28.6143&longitude=77.1998&free=1">Click here</a>
<br />
<br />

Update Ambulance Id 2 to cordinates 18.527506, 73.873098 (Railway Station, Pune) with status "Not Free"
<a href="http://localhost:3000/update?id=2&latitude=18.527506&longitude=73.873098&free=0">Click here</a>

<br />
<br />

Update Ambulance Id 2 to cordinates 18.535787, 73.8918897 (Koregaon Park, Pune) with status "Free"
<a href="http://localhost:3000/update?id=2&latitude=18.535787&longitude=73.8918897&free=1">Click here</a>
<br />
<br />

Update Ambulance Id 1 to cordinates 19.1042102, 72.82403750000002 (Juhu Beach, Mumbai) with status "Not Free"
<a href="http://localhost:3000/update?id=1&latitude=19.1042102&longitude=72.82403750000002&free=0">Click here</a>
<br />
<br />

Update Ambulance Id 3 to cordinates 18.452299, 73.86386499999999 (Katraj, Kondhwa Budruk, Pune) with status "Free"
<a href="http://localhost:3000/update?id=1&latitude=19.1042102&longitude=72.82403750000002&free=1">Click here</a>
<br />

<br />
</div>
</div>

